.searched {
   width: 100%;
   display: flex;
   justify-content: center;
   .searched__grid {
      max-width: 80%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 40px;
      margin-bottom: 40px;
      gap: 10px;
      @media only screen and (max-width: 1023px){
         max-width: 90%;
      }
      @media only screen and (max-width: 600px){
         max-width: 98%;
         margin-top: 30px;
         margin-bottom: 30px;
      }
      @media only screen and (max-width: 425px){
         margin-top: 20px;
         margin-bottom: 20px;
      }
      .searched__grid--card {
         @media only screen and (max-width: 767px){
            max-width: 33%;
         }
         @media only screen and (max-width: 600px){
            max-width: 45%;
         }
         text-decoration: none;
         max-width:30%;
         position: relative;
         display: flex;
         justify-content: center;
         cursor: pointer;
         transition: all 0.2s;
         img {
            width: 100%;
            border-radius:10px;
         }
         a {
            text-decoration: none;
         }
         h4 {
            text-align: center;
            padding: 10px;
            position: absolute;
            z-index: 10;
            bottom:10px;
            
            text-shadow: 1px 1px 1px #000, 3px 3px 5px #000;
            
            @media only screen and (max-width: 1023px){
               font-size:12px;
            }
            @media only screen and (max-width: 425px){
               font-size:10px;
            }
         }
      }
      .searched__grid--card:hover{
         transform: scale(1.1)
      }
   }
}